@page "/Admin/Profile"
@model HairSalon.RazorPage.Pages.AminPage.AdminProfilePageModel
@{
	Layout = "_Layout";
}

<div>
	<div>
		<div>
			<div>
				<img width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
				<span>Edogaru</span>
				<span>edogaru@mail.com.my</span>
			</div>
		</div>
		<div>
			<div>
				<div>
					<h4>Profile Settings</h4>
				</div>
				<div>
					<div>
						<label class="labels">Name</label>
						<input type="text" class="form-control" placeholder="first name" value="">
					</div>
					<div>
						<label class="labels">Surname</label>
						<input type="text" class="form-control" value="" placeholder="surname">
					</div>
				</div>
				<div>
					<div>
						<label class="labels">Mobile Number</label>
						<input type="text" class="form-control" placeholder="enter phone number" value="">
					</div>
					<div>
						<label class="labels">Address Line 1</label>
						<input type="text" class="form-control" placeholder="enter address line 1" value="">
					</div>
					<div>
						<label class="labels">Address Line 2</label>
						<input type="text" class="form-control" placeholder="enter address line 2" value="">
					</div>
					<div>
						<label class="labels">Email ID</label>
						<input type="text" class="form-control" placeholder="enter email id" value="">
					</div>
					<div>
						<label class="labels">Education</label>
						<input type="text" class="form-control" placeholder="education" value="">
					</div>
				</div>
				<div>
					<div class="col-md-6">
						<label class="labels">Country</label>
						<input type="text" class="form-control" placeholder="country" value="">
					</div>
					<div>
						<label class="labels">State/Region</label>
						<input type="text" class="form-control" value="" placeholder="state">
					</div>
				</div>
				<div>
					<button class="profile-button" type="button">Save Profile</button>
				</div>
			</div>
		</div>
	</div>
</div>
